<% include ./partials/header %>
    
Picking up item <%= item.name %> from <%= item.author.username %>
<div class="ui middle aligned center aligned grid">
    <div class="column ui stacked segment forme">
        <form class="ui large form" action="/items/<%=item._id%>/?_method=PUT" method="POST">
          <div class="field">
            <label>Location Address</label>
            <input type="text" name="item[location]" value="<%=item.location%>">
          </div>
          <div>
            <input type="radio" name="item[status]" value="In Transit to Storage" checked> Send Courier<br>
            <input type="radio" name="item[status]" value="Storage"> Customer Drop-off
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>

<a href="/items">Go Back to Items</a>

<% include ./partials/footer %>