<% include ./partials/header %>

    <!--firstname: String,-->
    <!--lastname: String,-->
    <!--email: String,-->
    <!--city-->
    <!--registrationdate: Date,-->
    <!--lastLoginDate: Date,-->
    <!--username: String,-->
    <!--password: String-->


<div id="registerForm" class="ui middle aligned center aligned grid">
    <div class="column ui stacked segment forme">
        <form class="ui large form" action="/register" method="POST">
          <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <input type="Submit" class="ui button">
        </form>
    </div>
</div>


<% include ./partials/footer %>