#telo {
    padding-top: 20px;
}

#title {
    margin-top: 3em;
    font-size: 3em;
}

#itemDescription {
 font-style: italic;   
}

#dugmiciEditDelete {
    margin-top: 10px;
    margin-bottom: 20px;
}

.forme {
    max-width: 450px; 
}

.itemShow {
    margin-top: 30px;
}

.itemAttributes {
    font-size: 1.2em;
}

.itemImage {
    width: 95%;
}

.logo {
    color: white;
}